<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dragon Lighter🔥</title>
  <link rel="stylesheet" href="/css/extraStyles.css">
</head>
<body>
  <header>
    <div class="header" id="myHeader">
      <div class="header-content">
        <div class="hamburger-menu">
          <div class="menu-icon">
            <i class="fas fa-bars"></i>
          </div>
          <ul class="menu-items">
            <li><a th:href="@{/About-us}">About us</a></li>
            <li><a th:href="@{/Contact}">Contact us</a></li>
            <li><a th:href="@{/FAQ}">FAQ</a></li>
          </ul>
        </div>
        <a th:href="@{/main}" class="header-link">
          <div class="logo">
            <img src="/images/logo.png" alt="logo">
          </div>
          <h1>Pure Lighter</h1>
        </a>
        <div class="shopping-cart">
          <a class="shopping-cart-header" th:href="@{/shopping-cart}"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
    </div> 
  </header>

  <img src="/images/Main image.jpg" alt="Dragon Lighter main picture" class="full-width-image">
  <main>
    <h2 class="Product-title">Dragon Lighter</h2>
    <div class="product-rating">
      <div class="star-rating">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half-stroke"></i>
      </div>    
      <span class="rating-number">(4.8)</span>
    </div>
    <div class="Price-tag"> 
      <span class="original-price">€39.95</span>
      <span class="discounted-price">€19.95</span>
    </div>

    <div class="brief-product-description">
      <p>
         Illuminate your world with unmatched elegance and efficiency – discover the
         Dragon Lighter, the<strong> only </strong>choice for discerning individuals. 
         Lighting becomes an art form with this exquisite accessory. Crafted for both style 
         and substance, the Dragon Lighter turns an everyday action into a statement of sophistication.
      </p>
    </div>


    <div class="buy-now-container">
      <a th:href="@{/shopping-cart}" class="buy-now-button">Buy Now</a>
    </div>
  

    <div class="belowBuy">
    <div class="features">
      <div class="feature">
        <img src="/images/delivery.png" alt="Free delivery">
        <p><strong>Free worldwide shipping:</strong> All of our lighters are shipped free of charge within 3 to 7 business days</p>
      </div>
      <div class="feature">
        <img src="/images/arrow.png" alt="refillable">
        <p><strong>Refillable:</strong> The Dragon Lighter is easily refillable with Butane Gas, better known as lighter fluid.</p>
      </div>

      <div class="feature">
        <img src="/images/diamond.png" alt="stylish">
        <p><strong>Pure style:</strong> A real man needs a real lighter. Don't settle for less, we also didn't when designing this work of art.</p>
      </div>

      <div class="feature">
        <img src="/images/chain.png" alt="everlasting">
        <p><strong>Built to last: </strong>We carefully designed the Dragon Lighter to ensure durability.</p>
      </div>

      <div class="feature">
        <img src="/images/wind.png" alt="windy">
        <p><strong>Wind- & waterproof:</strong> The blue jet flame ensures that you can light easily, even in windy conditions.</p>
      </div>

    </div>

    <div class="Refilling">
      <img src="/images/refilling.gif" alt="refilling lighter">
      <p>Refilling the Dragon Lighter in Seconds</p>
    </div>

    <div class="refillable-text">
      Eco-conscious and economical, the Dragon Lighter boasts a refillable butane reservoir, heralding an end to the cycle of disposable lighters. This feature not only saves you money but also aligns with a sustainable lifestyle. Embrace the blend of luxury, reliability, and environmental responsibility with the Dragon Lighter – where functionality meets flair.
    </div>        

    <div class="Style-picture">
      <img  src="/images/stylishPhoto.jpg" alt="Dragon Lighter in style">
      <p>What do you know about style?</p>
    </div>
      
    <div class="Weather-text">
      Bid farewell to the unpredictability of the elements. Our advanced, wind- and waterproof torch flame ensures that no gust or downpour can hinder its performance. Whether atop a windswept mountain or amidst a stormy voyage, the Dragon Lighter stands as your steadfast companion.
    </div>

    <div class="change-size-picture">
      <img  src="/images/change-size.gif" alt="change flame size">
      <p>You can easily change the size of the flame</p>
    </div>

    <div class="social-proof">
      <h3>Trusted by Thousands</h3>
      <p>
        Join a growing community of over 3,000 satisfied customers who have transformed their lighting experience with the Dragon Lighter. Our customers rave about its reliability, style, and innovative features, making it a top choice among discerning users worldwide. From adventurers braving the great outdoors to style enthusiasts looking for that perfect accessory, the Dragon Lighter has earned glowing reviews across the board. Don’t just take our word for it – experience the difference that so many have already discovered. Make the switch to sophistication; make the switch to Dragon Lighter.
      </p>
    </div>
    

    <div class="Style-picture">
      <img  src="/images/dual flame.gif" alt="wind gif">
      <p>The Dragon Lighter is equipped with a dual flame</p>
    </div>
    </div>

    <section class="money-back-guarantee">
      <div class="guarantee-content">
          <h2>Still Not Convinced?</h2>
          <p>We offer a no questions asked 30-day money-back guarantee on all of our products. Shop with confidence.</p>
      </div>
    </section>
  

    <div class="buy-now-container">
      <a th:href="@{/shopping-cart}" class="buy-now-button">Buy Now</a>
    </div>
  

    <div class="reviewBox">
    <span class="heading"><Strong>Reviews</Strong></span>
    <div class="star-rating-down">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star-half-stroke"></i>
      <!-- <i class="fa-regular fa-star"></i> -->
    </div>    
    <p>4.8 average based on 392 reviews.</p>
    <hr style="border:3px solid #ddd">

    <div class="row">
      <div class="side">
        <div>5 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-5"></div>
        </div>
      </div>
      <div class="side right">238</div>
      <div class="side">
        <div>4 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-4"></div>
        </div>
      </div>
      <div class="side right">
        <div>63</div>
      </div>
      <div class="side">
        <div>3 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-3"></div>
        </div>
      </div>
      <div class="side right">
        <div>15</div>
      </div>
      <div class="side">
        <div>2 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-2"></div>
        </div>
      </div>
      <div class="side right">
        <div>6</div>
      </div>
      <div class="side">
        <div>1 star</div>
      </div>
      <div class="middle">
        <div class="bar-container">
          <div class="bar-1"></div>
        </div>
      </div>
      <div class="side right">
        <div>20</div>
      </div>
    </div>
    </div>

    <a id="readReviewsBtn" class="read-reviews-button">See Reviews</a>

    <div id="reviewsModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="review-container">
        <h2>Reviews</h2>
          <div class="review">
            
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
              <p class="review-text">Amazing product, totally satisfied!</p>
              
            
              <img src="/images/review6.jpg.webp" alt="Customer Name" class="review-image">
              <div class="reviewer-info">
                <span class="review-author">- Sam van de Vaart</span>
                <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
                <span class="review-date">March 10, 2023</span>
              </div>
          </div>

          <div class="review">
            
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
              <p class="review-text">I love it</p>
              <div class="reviewer-info">
                <span class="review-author">- Alejandro Ruiz</span>
                <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
                <span class="review-date">November 9, 2023</span>
              </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Walter </span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">June 11, 2023</span>
            </div>
          </div>

          <div class="review">
            
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
              <p class="review-text">Perfect</p>
            
              <div class="reviewer-info">
                <span class="review-author">- Anonymous</span>
                <span class="review-date">February 24, 2023</span>
              </div>
          </div>
          <div class="review">
            
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
              <p class="review-text">Looks even better in real life</p>
              
            
              <img src="/images/review1.jpg" alt="Customer Name" class="review-image">
              <div class="reviewer-info">
                <span class="review-author">- Sam van de Vaart</span>
                <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
                <span class="review-date">March 10, 2023</span>
              </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="review-text">Absolutely love this product! Exceeded my expectations.</p>
            <img src="/images/review2.jpg" alt="Customer Name" class="review-image">
            <div class="reviewer-info">
              <span class="review-author">- Emma Brown</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">April 5, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="review-text">Good product, but took a while to arrive</p>
            <img src="/images/review3.jpg" alt="Customer Name" class="review-image">
            <div class="reviewer-info">
              <span class="review-author">- Anonymous</span>
              <span class="review-date">February 20, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="review-text">When using a large flame, you have to refill very soon</p>
            <img src="/images/review4.jpg" alt="Customer Name" class="review-image">
            <div class="reviewer-info">
              <span class="review-author">- Obama</span>
              <span class="review-date">July 6, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="review-text">good</p>
            <div class="reviewer-info">
              <span class="review-author">- Sarah Johnson </span>
              <span class="review-date">June 25, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="review-text">Bought it as gift for my nephew, arrived quickly</p>
            <div class="reviewer-info">
              <span class="review-author">- Svensson</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">January 2, 2023</span>
            </div>
          </div>
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="review-text">Works good in windy weather</p>
            <div class="reviewer-info">
              <span class="review-author">- Anonymous</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">January 15, 2023</span>
            </div>
          </div>
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="review-text">Didn't have to refill yet</p>
            <div class="reviewer-info">
              <span class="review-author">- Anonymous</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">November 1, 2023</span>
            </div>
          </div>
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="review-text">I burned my cat alive</p>
            <div class="reviewer-info">
              <span class="review-author">- Henk Smith</span>
              <span class="review-date">August 12, 2023</span>
            </div>
          </div>
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- David Smith</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">August 21, 2023</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Melissa Davis</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">September 8, 2023</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Laura Brown</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">October 15, 2023</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="review-text">🔥</p>
            <div class="reviewer-info">
              <span class="review-author">- Danny</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">June 25, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="review-text">Took 2 weeks to arrive</p>
            <img src="/images/review5.jpg" alt="Customer Name" class="review-image">
            <div class="reviewer-info">
              <span class="review-author">- Ashlee</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">May 16, 2023</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="review-text">Quite expensive</p>
            <div class="reviewer-info">
              <span class="review-author">- Smith</span>
              <span class="review-date">March 30, 2023</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p class="review-text">nice</p>
            <div class="reviewer-info">
              <span class="review-author">- Stephen</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">February 12, 2023</span>
            </div>
          </div>


          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Mike </span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">July 09, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Harold </span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">October 19, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="review-text">Cool gold</p>
            <div class="reviewer-info">
              <span class="review-author">- Anonymous </span>
              <span class="review-date">March 29, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Betty </span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">September 06, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Lena </span>
              <span class="review-date">February 4, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Anonymous </span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">May 03, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Jeffrey Maxwell </span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">May 17, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Emily Johnson</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">June 5, 2023</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Sarah Anderson</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">July 12, 2023</span>
            </div>
          </div>

          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Jennifer Clark</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">November 3, 2023</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Michael Evans</span>
              <img src="/images/verified.png" alt="Verified Purchase" class="verified-badge">
              <span class="review-date">December 12, 2022</span>
            </div>
          </div>
          
          <div class="review">
            <div class="star-rating-per-review">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="reviewer-info">
              <span class="review-author">- Jessica Wilson</span>
              <span class="review-date">January 6, 2023</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

    <footer class="site-footer">
      <div class="footer-content">
          <div class="footer-section">
              <h3>About Us</h3>
              <span>Learn more about Pure Lighters, our mission, and our team.</span>
              <a th:href="@{/About-us}">Read More</a>
          </div>
  
          <div class="footer-section">
              <h3>Contact</h3>
              <span>Email: contact@purelighters.com</span>
          </div>

          <div class="footer-section">
              <h3>Follow Us</h3>
              <a href="https://www.facebook.com">Facebook</a> |
              <a href="https://www.twitter.com">Twitter</a> |
              <a href="https://www.instagram.com">Instagram</a> |
              <a href="https://www.tiktok.com">Tiktok</a>
          </div>
  
          <div class="footer-section">
              <h3>Legal</h3>
              <a href="/templates/privacy-policy.html">Privacy Policy</a> |
              <a href="/templates/terms-of-service.html">Terms of Service</a>
          </div>
      </div>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
